<% if @current_user.present? %>
  <% follow_request = @current_user.follow_request_for(user) %>
  <% request_status = follow_request&.status %>
  <% if request_status == "accepted" %>
    <a href="/delete_follow_request/<%= follow_request.id %>">Unfollow</a>
  <% elsif request_status == "pending" %>
    Request sent. <a href="/delete_follow_request/<%= follow_request.id %>">Cancel</a>
  <% elsif request_status == "rejected" %>
    <p>nothing</p>
  <% else %>
    <form action="/insert_follow_request" method="post">
      <input type="hidden" name="query_recipient_id" value="<%= user.id %>">
      <button>Follow</button>
    </form>
  <% end %>     
<% end %>
