<div>
  <div>
    <h1>
      List of all Users
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Username
        </th>

        <th>
          Private?
        </th>

        <th>
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_users.each do |a_user| %>
      <tr>
        <td>
          <%= a_user.username %>
        </td>

          <% privacy = a_user.private %>
          <% if privacy == true %>
        <td>
          Yes
        </td>
        <% else %>
         <td>
          No
        </td>
        <% end%>

        <td>
            INSERT FOLLOW REQUEST IF SIGNED IN
        </td>
        <td>
          <a href="/users/<%= a_user.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
