<h1> <%= @the_user.username %> </h1>

<dl>
  <dt>Private</dt>
  <dd> <%= @the_user.private %> </dd>

  <dt>Followers</dt>
  <dd>
    INSERT FOLLOWER COUNT

      <div>
         <!--  <a href="/delete_follow_request/<%= %>"> -->
            Unfollow link here
          </a>
    </div>

  </dd>

  <dt>Following</dt>
  <dd> INSERT FOLLOWING COUNT </dd>

</dl>
